.selection7 h1 {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.selection7 h1::before,
h1::after {
    margin: 10px;
    border-radius: 25%;
    content: "";
    min-width: 28vw;
    height: 3px;
    background: #fff;
}