.selection8 .title {
    display: flex;
    flex-direction: column;
}

.selection8 .one,
.selection8 .two,
.selection8 .three {
    z-index: 2;
    width: 200px;
    height: 80px;
    border: 6px solid black;
    position: relative;
    margin: 10px;
}

.selection8 .one::before,
.selection8 .two::before,
.selection8 .three::before {
    z-index: 3;
    content: "";
    top: 0px;
    left: 0px;
    height: 100%;
    position: absolute;
}

.selection8 .one::before {
    box-shadow: 0px 0px 40px 10px #ee161f;
    background: #ee161f;
    width: 33%;
}

.selection8 .two::before {
    box-shadow: 0px 0px 40px 10px #ffc703;
    background: #ffc703;
    width: 66%;
}

.selection8 .three::before {
    box-shadow: 0px 0px 40px 10px #00a154;
    background: #00a154;
    width: 100%;
}

.selection8 .one::after,
.selection8 .two::after,
.selection8 .three::after {
    z-index: 2;
    content: "";
    background: black;
    height: 50%;
    width: 16px;
    position: absolute;
    top: 25%;
    left: 100%;
}