.selection5 .split {
    z-index: 1;
    position: relative;
    width: 50%;
    height: 100%;
    padding: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selection5 .split pre {
    color: #fff;
}

.selection5 a {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.selection5 a:link,
.selection5a:visited {
    text-decoration: none;
    color: #3A681A;
}

.selection5a:hover {
    text-decoration: none;
    color: #5CA22E;
}

.selection5a:active {
    color: #DC0000;
}

.selection5.pole,
.selection5.pole2 {
    border: 1px solid #008000;
    font-size: 11px;
    background-color: #E7F2D7;
    height: 17px;
}

.selection5.pole {
    width: 95px;
}